.edit-post-button {
    color: #FFF;
    background: #03A9F4;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 1000px;
    float: right;
}

.form {
    display: none;
    background: #FAFAFA;
    padding: 32px 0;
    border: 1px solid #eee;
    border-radius: 4px;
}

.form-content{
    width: 100%;
    max-width: 600px;
    margin: auto;
    font-size: 14px;
}

.form-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #757575;
}

.form-field{
    width: 100%;
    margin-bottom: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: normal;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    color: #212121;
}

textarea {
    min-height: 200px;
}

.post-submit-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 18px;
    color: #FFF;
    background: #03A9F4;
    text-decoration: none;
    border-radius: 4px;
}

.appear {
    display: block;
}

.single-post {
    margin: 20px 0;
    padding: 15px;
    border-radius: 2px;
}

.post-title{
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: 400;
    color: #616161;
}

.post-title a{
    text-decoration: none;
    color: #616161;
}

.author-name{
    font-size: 16px;
    margin-bottom: 16px;
    color: #757575;
}

.post-desc{
    font-size: 14px;
    color: #888;
    margin-bottom: 8px;
}

.post-action a{
    color: #555;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
}

.post-action a:hover{
    color: #EF5350;
}

.divider{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 250px;
    margin: 32px auto 0;
}

.post-detail .post-title{
    font-size: 42px;
    color: #454545;
}

.post-detail .post-desc{
    font-size: 16px;
    color: #555;
}
